In [1]:
import pandas as pd
import numpy as np

# Project Title

### Source

This data was found on kaggle here: https://www.kaggle.com/datasets/rahulvyasm/medical-insurance-cost-prediction?resource=download \
Thanks to Mr. M Rahul Vyas for uploading the dataset to kaggle. \
The data is licensed by MIT.

### Project Goals

1. Build a model which can predict medical insurance charges based on a variety of features
2. Assess which features influence medical insurance costs the most
3. Evaluate the accuracy of machine learning models in predicting medical insurance charges
4. Determine ways in which machine learning models can enhance efficiency/profitability of medical insurance companies?

In [5]:
insurance_raw = pd.read_csv(r"C:\Users\ritac\Downloads\medical_insurance\medical_insurance.csv")
insurance_raw

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
2767   47  female  45.320         1     no  southeast   8569.86180
2768   21  female  34.600         0     no  southwest   2020.17700
2769   19    male  26.030         1    yes  northwest  16450.89470
2770   23    male  18.715         0     no  northwest  21595.38229
2771   54    male  31.600         0     no  southwest   9850.43200

[2772 rows x 7 columns]